.header_mk {
  width: 100%;
  height: 6.875rem;
  padding: 1.875rem 0rem;
  border: 1px solid var(--greyscaletext-10, #c5c5c5);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.header_mk_img {
  width: 2.375rem;
  height: 3.125rem;
}
.header_vaa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.12rem;
}
.header_vaa_title {
  color: var(--Foundation-Green-green-500, var(--Library-Title, #015121));
  font-family: "Nunito Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}
.header_vaa_label {
  color: var(--greyscaletext-40-tag, #6a6a6a);
  font-family: "Nunito Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.sig-in-up {
  position: relative;
  width: 100%;
  height: 56.1875rem;
}
.sig_bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.sig_content {
  position: relative;
  height: 44rem;
  z-index: 0;
  background: linear-gradient(89deg, #98e0c6 -95.77%, #fff 50.1%);
}
.sig_content_box {
  position: absolute;
  padding: 2.25rem;
  border-radius: var(--corner-radius-xSmall, 0.5rem);
  background: #fff;
  top: calc(6.72rem + 6.875rem);
  right: 13.94rem;
  z-index: 10;
}
.sig_content_box_title {
  color: var(--greyscaletext-80-primary, #262626);
  font-family: "Nunito Sans";
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 1rem;
}
.sig_content_box_descript {
  margin-bottom: 1.5rem;
  width: 30rem;
  color: var(--greyscaletext-40-tag, #6a6a6a);
  font-family: "Nunito Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.sig_content_box_label {
  color: var(--greyscaletext-40-tag, #6a6a6a);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 0.37rem;
}
.sig_content_item_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.88rem;
}
.sig_input {
  width: 100%;
  height: 3rem;
  padding: 0.875rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--greyscaletext-60-secondary, #3f3f3f);
}
.sig_content_box_or {
  margin-top: 1.5rem;
  display: flex;
  padding: 0.5rem 0rem;
  align-items: center;
}
.sig_content_box_or span {
  color: var(--greyscaletext-20-inactive, #a9a9a9);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0 0.75rem;
}
.sig_content_box_or_line {
  height: 0.0625rem;
  flex: 1 0 0;
  border-radius: 0.0625rem;
  background: var(--Colors-Border-Border---Light2, #d4d3d2);
}
.sig_content_box_gg {
  display: flex;
  width: 100%;
  height: 2.5rem;
  border-radius: var(--corner-radius-xSmall, 0.5rem);
  background: #f8f8f8;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}
.sig_content_box_gg img {
  width: 1.01563rem;
  height: 1.01563rem;
  margin-right: 0.5rem;
}
.sig_content_box_gg span {
  color: var(--greyscaletext-80-primary, #262626);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.sig_content_box_singin {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sig_content_box_singintext {
  color: var(--greyscaletext-50, #454545);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-right: 2px;
}
.sig_content_box_singinlink {
  color: var(--mu-thng-xanh-bin, #0382d8);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.text_input::placeholder {
  color: var(--greyscaletext-20-inactive, #a9a9a9);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.text_input {
  color: var(--greyscaletext-80-primary, #262626);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
/* otp */
.otp_input_warper {
  margin-bottom: 2.25rem;
}
.sig_content_item_input--type_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}
.otp-input {
  -moz-appearance: textfield;
  display: flex;
  width: 3.625rem;
  height: 3.625rem;
  border-radius: 0.46019rem;
  border: 0.92px solid var(--greyscaletext-20-inactive, #a9a9a9);
  background: var(--White, #fff);
  box-shadow: 0px 0.92px 1.841px 0px rgba(16, 24, 40, 0.05);
  padding: 0.46019rem;
  padding-left: 1.5rem;
}
.otp-input::-webkit-outer-spin-button,
.otp-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sig_input_warpperpass {
  position: relative;
  width: 100%;
}
.input_pass {
  padding-right: 2.5rem;
}
.eye_input {
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}
.eye {
  display: none;
}
.dropdown_container .dropdown {
  height: 3rem;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  border-radius: var(--corner-radius-xSmall, 0.5rem);
  border: 1px solid var(--greyscaletext-60-secondary, #3f3f3f);
}
.dropdown_container {
  position: relative;
  margin-bottom: 1.88rem;
}
.dropdown_selected {
  display: none;
}
.dropdown_header {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--greyscaletext-60-secondary, #3f3f3f);
}
.dropdown_header span {
  color: var(--greyscaletext-80-primary, #262626);
  font-family: "Nunito Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.dropdown_header svg {
  transition: all 0.3s linear;
  width: 1rem;
  height: 1rem;
}
.dropdown_list {
  border-radius: 0.75rem 0.75rem 1.5rem 1.5rem;
  border: 0.4px solid var(--greyscaletext-5-div, #ececec);
  box-shadow: 0px 217px 61px 0px rgba(204, 204, 204, 0),
    0px 139px 56px 0px rgba(204, 204, 204, 0.01),
    0px 78px 47px 0px rgba(204, 204, 204, 0.05),
    0px 35px 35px 0px rgba(204, 204, 204, 0.09),
    0px 9px 19px 0px rgba(204, 204, 204, 0.1);
  list-style-type: none;
  padding: 1.19rem 1.69rem;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #fff;
  z-index: 1;
  display: none;
}
.dropdown_item {
  cursor: pointer;
  color: var(--greyscaletext-60-secondary, #3f3f3f);
  font-family: "Nunito Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 0.72rem;
}
.dropdown_item:last-child {
  margin-bottom: 0;
}
.radio_option_input {
  position: relative;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
.radio_option_input:checked::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #076d34;
  background: white;
}
.sig_content_radio_label {
  color: var(--greyscaletext-40-tag, #6a6a6a);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 0.62rem;
}
.mess_validator {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  display: none;
}
.mess_validator img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}
.mess_validator_text {
  color: var(--Primary-color-Tangerine-red, #ff4e41);
  font-family: "Nunito Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.input_validator {
  border-radius: 0.5rem;
  border: 1px solid #ff4e41;
  background: #fef5f5;
}
.radio_option_warper {
  display: flex;
}
.radio_option {
  margin-right: 5.12rem;
  display: flex;
  align-items: center;
}
.radio_option:last-child {
  margin-right: 0;
}
.radio_option_option {
  color: var(--greyscaletext-80-primary, #262626);
  font-family: "Nunito Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-left: 0.5rem;
}
