/* init root */
:root {
  --Library-Title: #015121;

  --Foundation-Green-green-500: #015121;
  --Foundation-Green-green-200: #8aaf99;
  --foundation-white-dark-hover: #999;
  --Foundation-Green-Dark: #0e562c;
  --Foundation-Green-Darker: #072814;
  --Foundation-Green-Light: #e6f4ec;

  --greyscaletext-80-primary: #262626;
  --greyscaletext-60-secondary: #3f3f3f;
  --greyscaletext-40-tag: #6a6a6a;
  --greyscaletext-20-inactive: #a9a9a9;
  --greyscaletext-5-div: #ececec;

  --white: white;
  --black: black;

  --font-nunito: "Nunito Sans", sans-serif;
}

/* reset css */
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
a {
  text-decoration: none;
  color: var(--greyscaletext-80-primary, hwb(0 15% 85%));
}
ul,
ol {
  list-style: none;
}

/* config rem */
html {
  font-size: 1vw;
}

@media (min-width: 1601px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 4.26666vw;
  }
}

/* init css body */
body {
  background-color: var(--white);
  color: var(--greyscaletext-80-primary, hwb(0 15% 85%));
  font-family: "Nunito Sans", sans-serif;
}

/* init container */
.container {
  min-width: 81.3125rem;
  width: 81.3125rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    min-width: auto;
  }
}

/* start init button */
/* init button */
.button--init {
  height: 2.625rem;
  border-radius: 6.25rem;
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.88rem;
  padding-right: 1.88rem;
  box-shadow: 0px 0px 20px 0px rgba(198, 255, 189, 0.25);
  width: fit-content;
  transition: all 0.2s;
}

/* variable button outline */
.button--init[data-button="outline"] {
  border: 1px solid var(--Foundation-Green-green-200, #8aaf99);
  color: var(--Foundation-Green-green-500);
}

.button--init[data-button="outline"]:hover {
  background-color: var(--Foundation-Green-green-500, #015121);
  color: var(--white);
}

/* variable button primary */
.button--init[data-button="primary"] {
  background: var(--Foundation-Green-green-500, #015121);
  color: var(--white);
}

.button--init[data-button="primary"]:hover {
  background-color: var(--Foundation-Green-green-700, #013a17);
}

/* modifier button */
.button--init[button-width="full"] {
  width: 100%;
}

/* modifier button */
.button--init[button-rounded="none"] {
  border-radius: 0.25rem;
}

@media screen and (max-width: 767px) {
  /* modifier button */
  .button--init[button-rounded="none"] {
    border-radius: 6.25rem;
  }
}

/* start init button */

/* start class snipet */
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* end class snipet */
/*breadcrumb  */
.breadcrumb {
  display: flex;
  align-items: center;
  padding: 0.53rem 0;
}
.breadcrumb a {
  color: var(--greyscaletext-20-inactive, #a9a9a9);
  font-family: "Nunito Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-decoration: none;
  cursor: pointer;
}
.breadcrumb a:last-child {
  color: var(--Foundation-Green-Tag, #076d34);
  font-family: "Nunito Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.breadcrumb svg {
  width: 1.125rem;
  height: 1.125rem;
  margin-left: 0.75rem;
  margin-right: 0.5rem;
  filter: brightness(0) invert(0.5);
}
.breadcrumb svg:last-of-type {
  filter: brightness(1) invert(0);
}
/*end breadcrumb  */
.input_validator {
  border-radius: 0.5rem !important;
  border: 1px solid #ff4e41 !important;
  background: #fef5f5 !important;
}
/* footer  singin up v.v*/
.footer_profile {
  width: 100%;
  height: 5.3125rem;
  background: #fff;
  border-top: 0.0625rem solid rgb(130 130 130 / 30%);
}
.footer_profile_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer_profile_title {
  color: #000;
  font-family: "Nunito Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  opacity: 0.7;
}
.footer_profile_link {
  display: flex;
}
.footer_profile_link a {
  cursor: pointer;
  color: #000;
  font-family: "Nunito Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  opacity: 0.7;
  margin-right: 5.25rem;
}
.footer_profile_link a:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .footer_profile {
    height: auto;
  }
  .footer_profile_content {
    flex-direction: column-reverse;
    padding-bottom: 1.5rem;
  }
  .footer_profile_link {
    width: 100%;
    margin-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 0.0625rem solid #ececec;
    justify-content: space-around;
    margin-bottom: 1.25rem;
  }
  .footer_profile_link a {
    margin: 0;
  }
}
/* end footer singin up v.v */
