/* init root */
:root {
  --Library-Title: #015121;

  --Foundation-Green-green-500: #015121;
  --Foundation-Green-green-200: #8aaf99;
  --foundation-white-dark-hover: #999;
  --Foundation-Green-Dark: #0e562c;
  --Foundation-Green-Darker:#072814;
  --Foundation-Green-Light: #E6F4EC;

  --greyscaletext-80-primary:#262626
  --greyscaletext-60-secondary: #3F3F3F;
  --greyscaletext-40-tag: #6a6a6a;
  --greyscaletext-20-inactive: #a9a9a9;
  --greyscaletext-5-div: #ececec;

  --white:white;
  --black:black;


  --font-nunito:"Nunito Sans", sans-serif;
}

/* reset css */
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
a{
  text-decoration: none;
  color: var(--greyscaletext-80-primary, hwb(0 15% 85%));
}
ul,ol{
  list-style: none;
}

/* config rem */
html{
  font-size: 1vw;
}

@media (min-width: 1601px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 4.26666vw;
  }
}


/* init css body */
body{
  background-color: var(--white);
  color: var(--greyscaletext-80-primary, hwb(0 15% 85%));
  font-family: "Nunito Sans", sans-serif;
}

/* init container */
.container{
  min-width: 81.3125rem;
  width: 81.3125rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .container{
    width: 100%;
    min-width: auto;
  }
}

/* init button */
.button--init{
  height: 2.625rem;
  border-radius: 6.25rem;
  font-size: 0.875rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.88rem;
  padding-right: 1.88rem;
  box-shadow: 0px 0px 20px 0px rgba(198, 255, 189, 0.25);
  width: fit-content;
  transition: all 0.2s;
}

/* variable button outline */
.button--init[data-button="outline"] {
  border: 1px solid var(--Foundation-Green-green-200, #8aaf99);
  color: var(--Foundation-Green-green-500);
}

.button--init[data-button="outline"]:hover{
  background-color: var(--Foundation-Green-green-500, #015121);
  color: var(--white);
}

/* variable button primary */
.button--init[data-button="primary"] {
  background: var(--Foundation-Green-green-500, #015121);
  color: var(--white);
}

.button--init[data-button="primary"]:hover{
  background-color: var(--Foundation-Green-green-700, #013A17);
}

/* modifier button primary */
.button--init[button-width="full"] {
  width: 100%;
}

/* modifier button primary */
.button--init[button-rounded="none"] {
  border-radius: 0.25rem;
}

.f-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
