/* slider home */

.banner_home_hy {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.banner_home_hy .mySwiper_bannerhome {
  width: 68.75rem;
}
.pagination_home {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
.mySwiper_bannerhome,
.mySwiper_bannerhome .swiper-slide,
.mySwiper_bannerhome .swiper-wrapper {
  border-radius: 0.45819rem;
}
.mySwiper_bannerhome .swiper-slide {
  border-radius: 0.45819rem;
}
.pagination_home .swiper-pagination-bullet-active {
  background: var(--Foundation-Green-Dark, #0e562c);
}
.slider_home_img {
  border-radius: 0.45819rem;
  height: 11.9375rem;
  object-fit: cover;
}

/* footer */
.footer_hy {
  padding-top: 1.23rem;
  width: 100%;
  margin: 0 auto;
  height: 19.0625rem;
  border-top: 1px solid var(--greyscaletext-5-div, #ececec);
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_logo_img {
  width: 3.5rem;
  height: 4.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.footer_logo {
  display: flex;
  align-items: center;
}
.footer_top {
  padding: 1.5rem 0;
  display: flex;
  border-bottom: 3px solid #076e34;
  height: max-content;
}
.footer_title_big {
  color: var(--Foundation-Green-Dark, #0e562c);
  text-align: center;
  text-shadow: 0px 0px 12.897px rgba(198, 255, 189, 0.25);
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.footer_contact {
  margin-left: 7.12rem;
  display: flex;
  align-items: center;
}
.footer_contact_item {
  display: flex;
}
.footer_contact_item_text {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_contact_item_text a {
  text-decoration: none;
  color: var(--Foundation-Green-Darker, #072814);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0.00219rem;
}
.footer_contact_text_label {
  margin-bottom: 0.5rem;
  color: var(--Foundation-Green-Dark, #0e562c);
  font-family: "Nunito Sans";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.footer_contact_item:last-child .footer_contact_item_text a {
  width: 14.8125rem;
}
.footer_contact_item {
  margin-right: 3.25rem;
}
.footer_contact_item:last-child {
  margin-right: 0;
}
.footer_contact_svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6875rem;
  height: 3.6875rem;
  border-radius: var(--corner-radius-Rounded, 62.5rem);
  border: 2px solid var(--Foundation-Green-Dark, #076d34);
}
.footer_bottom {
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex: 1 0 0;
}
.footer_social {
  display: flex;
  margin-bottom: 3.85rem;
}
.footer_social a {
  margin-right: 1.25rem;
  cursor: pointer;
}
.footer_social a:last-child {
  margin-right: 0rem;
}
.footer_discript {
  margin-bottom: 4.6rem;
  color: var(--greyscaletext-40-tag, #6a6a6a);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

@media (max-width: 767px) {
  /* luu ys  */
  .container {
    width: 100%;
    min-width: 100%;
  }

  .banner_home_hy .mySwiper_bannerhome {
    width: 21.4375rem;
    height: 10rem;
  }
  .slider_home_img {
    width: 21.4375rem;
    height: 10rem;
  }
  .pagination_home {
    margin-top: 1rem;
  }

  .footer_hy {
    padding: 1.5rem 1rem;
    height: max-content;
  }
  .footer_top {
    flex-direction: column;
    border-bottom: 0;
    padding-bottom: 0;
  }
  .footer_contact {
    flex-direction: column;
    margin: 0;
    align-items: start;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--foundation-green-normal-active, #0f5c2e);
    background: #fff;
  }
  .footer_logo {
    padding-bottom: 1.36rem;
  }
  .footer_logo_img {
    width: 2.5625rem;
    height: 3.3125rem;
  }
  .footer_title_big {
    color: var(--Library-Title, #015121);
    text-align: center;
    text-shadow: 0px 0px 9.481px rgba(198, 255, 189, 0.25);
    font-family: "Nunito Sans";
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
  }
  .footer_contact_item > svg,
  .footer_contact_svg {
    width: 2.5rem;
    height: 2.5rem;
  }
  .footer_contact_svg svg {
    width: 1.52544rem;
    height: 1.52544rem;
  }
  .footer_contact_item {
    width: 100%;
    padding: 1.6875rem 1.5rem;
    margin-right: 0;
    border-bottom: 0.0625rem solid #ececec;
  }
  .footer_contact_item:last-child {
    border-bottom: 0;
  }
  .footer_contact_text_label {
    color: #076d34;
    font-family: "Nunito Sans";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.00375rem;
  }
  .footer_contact_item_text a {
    color: #033318;
    font-family: "Nunito Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.005rem;
  }
  .footer_bottom {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer_social {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    justify-content: center;
    border-bottom: 3px solid #c5c5c5;
  }
  .footer_discript {
    margin-bottom: 0;
    color: var(--greyscaletext-40-tag, #6a6a6a);
    font-family: "Nunito Sans";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.00375rem;
  }
}
